upstream upstream {
    server {{ upstream }};
}

lua_shared_dict sessions 10m;
lua_shared_dict sessions_locks 1m;

server {
    listen 80;

    location / {
        lua_ssl_trusted_certificate /etc/ssl/certs/ca-bundle.crt;
        lua_ssl_verify_depth 3;
        resolver 8.8.8.8;
        
        set $session_storage shm;

        set $session_secret {{ session_secret }};
        set $oidc_client_secret {{ oidc.client_secret }};
        set $oidc_client_id {{ oidc.client_id }};

        set $oidc_redirect_uri_path {{ oidc.redirect_uri_path | default("/openid/callback/login/") }};
        set $oidc_logout_path {{ oidc.logout_path | default("/logout") }};

{% if oidc.discovery is defined %}
        set $oidc_discovery {{ oidc.discovery }};
{% endif %}

        access_by_lua_file /opt/openresty/lualib/resty/access_by_openidc.lua;

        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto https;
        proxy_set_header Host $http_host;
        proxy_redirect off;
        proxy_pass http://upstream;
    }
}
